createdAt: "2018-05-21T06:17:39.484Z"
updatedAt: "2018-05-21T06:54:10.394Z"
type: "MARKDOWN_NOTE"
folder: "66dff0cfbfde06f3d2e8"
title: "Istio gateway"
content: '''
  # Istio gateway
  
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
